name: Nginx Docker Image Publish

on:
  workflow_dispatch:
  repository_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5
    
    - name: Setup latest Alpine Linux
      uses: jirutka/setup-alpine@v1
      with:
        branch: edge

    - name: Get latest version of nginx
      id: getVersion
      run: |
        version=$(apk info --no-cache nginx | grep 'nginx' | awk '{print $1}' | awk 'NR==1' | awk -F "-" '{print $2}')
        echo "curentVersion=$version" >> $GITHUB_OUTPUT
      shell: alpine.sh {0}

    - name: Login to AliYun Container Registry
      uses: docker/login-action@v3
      with:
        registry: registry.cn-chengdu.aliyuncs.com
        username: ${{ secrets.ALIYUN_USER }}
        password: ${{ secrets.ALIYUN_TOKEN }}
     
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and Push Docker images
      id: build
      uses: docker/build-push-action@v6
      with:
        file: Dockerfile
        context: .
        push: true
        tags: |
          clion007/nginx:latest
          clion007/nginx:${{ steps.getVersion.outputs.curentVersion }}
          registry.cn-chengdu.aliyuncs.com/clion/nginx:latest
          registry.cn-chengdu.aliyuncs.com/clion/nginx:${{ steps.getVersion.outputs.curentVersion }}

    - name: Get Release Body
      id: getBody
      if: steps.build.outcome == 'success'
      run: |
        BODYINFO='Changes details please view page https://nginx.org/en/CHANGES.'
        echo "BodyInfo=$BODYINFO" >> $GITHUB_OUTPUT
      
    - name: Publish Release
      if: steps.build.outcome == 'success'
      uses: ncipollo/release-action@v1
      with:
        name: Nginx v${{ steps.getVersion.outputs.curentVersion }}
        tag: v${{ steps.getVersion.outputs.curentVersion }}
        body: ${{ steps.getBody.outputs.BodyInfo }}
        skipIfReleaseExists: true
        
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
        retain_days: 0
        keep_minimum_runs: 2
