# Description: nginx version update checker

name: Nginx Update Checker

on:
  workflow_dispatch:
  schedule:
    - cron: 0 */18 * * *

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    
    - name: Setup latest Alpine Linux
      uses: jirutka/setup-alpine@v1
      with:
        branch: edge

    - name: Get latest version of nginx
      id: getVersion
      run: |
        version=$(apk info --no-cache nginx | grep 'nginx' | awk '{print $1}' | awk 'NR==1')
        echo "curentVersion=$version" >> $GITHUB_OUTPUT
      shell: alpine.sh {0}

    - name: Compare nginx version
      id: cacheVersion
      uses: actions/cache@v5
      with:
        path: .curentVersion
        key: ${{ steps.getVersion.outputs.curentVersion }}

    - name: Save New Curent Version
      if: steps.cacheVersion.outputs.cache-hit != 'true'
      run: |
        echo ${{ steps.getVersion.outputs.curentVersion }} | tee .curentVersion

    - name: Trigger build
      if: steps.cacheVersion.outputs.cache-hit != 'true'
      uses: peter-evans/repository-dispatch@v4
      with:
        event-type: Nginx Image Update
        
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
        retain_days: 0
        keep_minimum_runs: 2
